body {
  background-color: #404258;
  font-family: Outfit;
}

/* ------------------ NAVBAR --------------- */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #45485d;
}

#header-img {
  width: 150px;
  height: auto;
}

#nav-links {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  column-gap: 70px;
  margin-right: 30px;
}

.nav-item {
  text-decoration: none;
  color: #d1d5dc;
  transition: 0.3s;
}

.nav-item:hover {
  color: #6b728e;
}

/* ------------------ Nome --------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#nome-div {
  margin-top: 200px;
}

#nome-text {
  font-size: 40px;
  color: #6b728e;
}

#dev-text {
  font-size: 55px;
  color: #868ca1;
}

#icons-div {
  display: flex;
  justify-content: end;
  text-align: end;
}

.nome-icons {
  margin-top: 5px;
  text-decoration: none;
  font-size: 55px;
  color: #d1d5dc;
}

#icons-ul {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}
